/* cyrillic-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/FwZY7-Qmy14u9lezJ-6K6MmTpA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/FwZY7-Qmy14u9lezJ-6D6MmTpA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/FwZY7-Qmy14u9lezJ-6I6MmTpA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/FwZY7-Qmy14u9lezJ-6J6MmTpA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 2, ../sass/partials/_modules.scss */
.bg-orange-light {
  background-color: #ffb042 !important;
}
/* line 5, ../sass/partials/_modules.scss */
.bg-red-light {
  background-color: #ff4a58 !important;
}

/* line 10, ../sass/partials/_modules.scss */
.font-header {
  font-family: 'Pacifico';
  text-shadow: 1px 1px 1px #333;
}

/* line 15, ../sass/partials/_modules.scss */
.icon {
  font-size: 30px !important;
}

/* line 19, ../sass/partials/_modules.scss */
.index-s1, .menu-s1, .ourstory-s1, .contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 22, ../sass/partials/_modules.scss */
.index-s2, .ourstory-s2 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s2_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 25, ../sass/partials/_modules.scss */
.index-s3 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s3_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 29, ../sass/partials/_modules.scss */
.footer {
  background-attachment: scroll;
  background-image: url(../img/footer.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 52, ../sass/partials/_modules.scss */
.rounded-indicators li {
  border-radius: 50%;
  background-color: #aaa !important;
  height: 14px !important;
  width: 14px !important;
}
/* line 53, ../sass/partials/_modules.scss */
.rounded-indicators li.active {
  background-color: #ffb042 !important;
}

/* line 64, ../sass/partials/_modules.scss */
.text-red-light {
  color: #ff4a58 !important;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: fixed;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: fixed;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
