.bg{
    &-orange-light{
        background-color: $color__orange-light!important;
    }
    &-red-light{
        background-color: $color__red--light!important;
    }
}
.font{
    &-header{
        font-family: 'Pacifico';
        text-shadow: 1px 1px 1px $color__shadow;
    }
}
.icon{
    font-size: $icon__size!important;
}
.index{
    &-s1{        
        @include set-background($bg__index-s1-img,0,"center","cover","scroll");
    }
    &-s2{        
        @include set-background($bg__index-s2-img,0,"center","cover","scroll");
    }
    &-s3{        
        @include set-background($bg__index-s3-img,0,"center","cover","scroll");
    }
}
.footer{
    @include set-background($bg__footer,0,"top left","cover","scroll");
}
.menu{
    &-s1{        
        @extend .index-s1;
    }
}
.ourstory{
    &-s1{
        @extend .index-s1;
    }
    &-s2{
        @extend .index-s2;
    }
}
.contact{
    &-s1{
        @extend .index-s1;
    }
}
.rounded{
    &-indicators {
        & li{
            &.active{
                background-color: $color__orange-light!important;
            }
            border-radius: 50%;
            background-color: $color__gray!important;
            height: 14px!important;
            width: 14px!important;
        }
    }
}
.text{
    &-red-light{
        color: $color__red--light!important;
    }
}