$bg__classes:
    "error",
    "comingsoon",
    "privacy";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__error-img: "../img/error.jpg";
$bg__footer: "../img/footer.jpg";
$bg__index-s1-img: "../img/index/index-s1_bg.jpg";
$bg__index-s2-img: "../img/index/index-s2_bg.jpg";
$bg__index-s3-img: "../img/index/index-s3_bg.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__aoa:
    $bg__error-img,
    $bg__comingsoon-img,
    $bg__privacy-img;
$color__gray:#aaa;
$color__orange-light:#ffb042;
$color__red--light: #ff4a58;
$color__shadow: #333;
$icon__size: 30px;
$text-shadow: 1px 1px 3px $color__shadow; 